<div ng-controller="WriteCtrl as write">
    <p>
        This is where we write data.
    </p>
    <input title="key" placeholder="Key" ng-model="write.InputKey" />
    <input title="value" placeholder="Value" ng-model="write.InputValue" />
    <input type="button" ng-disabled="write.IsWriting" value="Add" ng-click="write.Write(write.InputKey, write.InputValue)" />
    <input type="button" ng-disabled="write.IsWriting" value="Clear All" ng-show="write.IsClearConfirmed" ng-click="write.Clear()" />
    <input type="button" ng-disabled="write.IsWriting" value="Confirm Clear?" ng-show="!write.IsClearConfirmed" ng-click="write.Clear()" />
    <input type="button" ng-disabled="write.IsWriting" value="Cancel" ng-show="!write.IsClearConfirmed" ng-click="write.CancelClear()" />
    <hr />
    <h3>Mass Write</h3>
    <p>Write multiple copies of a 100-character string any number of times.</p>
    <div>
        <label for="times"># of records</label>
        <input title="times" id="times" placeholder="Count" ng-model="write.Times" />
    </div>
    <div>
        <label for="size"># of characters</label>
        <input title="size" id="size" placeholder="Characters" ng-model="write.Size" />
    </div>
    <div>
        <label for="writes"># of writes</label>
        <input title="writes" id="writes" placeholder="Writes" ng-model="write.Writes" />
    </div>
    <input type="button" value="Start" ng-disabled="write.IsWriting" ng-click="write.MassWrite()" />
    <hr />
    <em ng-repeat="message in write.Messages track by $index">{{ message }}<br /></em>
</div>