<!DOCTYPE html>
<html lang="en" ng-app="indexeddb-proto" ng-controller="HomeCtrl as home">
    <head>
        <meta charset="UTF-8">
        <title>{{ home.Title }}</title>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="bower_components/localforage/dist/localforage.min.js"></script>
        <script src="bower_components/angular-localforage/dist/angular-localForage.min.js"></script>
    </head>
    <body>
        <ul>
            <li>
                <a ui-sref="read">Read Data</a>
            </li>
            <li>
                <a ui-sref="write">Write Data</a>
            </li>
        </ul>

        <ui-view></ui-view>

        <script src="app/app.js"></script>
        <script src="app/data/data.service.js"></script>
        <script src="app/home.controller.js"></script>
        <script src="app/read/read.controller.js"></script>
        <script src="app/read/read-data.directive.js"></script>
        <script src="app/write/write.controller.js"></script>
    </body>
</html>