<div ng-controller="ReadCtrl as read" style="overflow-x:scroll;">
    <p>This is where we read data.</p>
    <p>
        <span ng-hide="read.Keys.length">
            No data exists. Write some, then come back.
        </span>
        <select
                title="Keys"
                ng-model="read.SelectedKey"
                ng-options="key for key in read.Keys"
                ng-show="read.Keys.length">
        </select>
        <read-data key="{{ read.SelectedKey }}"></read-data>
    </p>
</div>